<!-- app/views/user_mailer/reminder_email.html.erb -->

<h1>Task Reminder</h1>
<p>Dear <%= @user.name %>,</p>
<p>This is a reminder for your task:</p>
<p><strong>Title:</strong> <%= @task.title %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p>Best regards,<br> Your ToDo List App</p>
